# Datenanalyse (L√∂sungen)

‚òùÔ∏è Beachte: es gibt beim Programmieren fast immer verschiedene L√∂sungswege. Deine L√∂sung mag anders aussehen, aber dennoch zum gew√ºnschten Resultat f√ºhren. Das richtige Resultat ist das Wichtigste. 

‚ö†Ô∏è F√ºhre folgenden Code aus, bevor du einzelne L√∂sungen ausf√ºhrst. Im Lehrnotebook sortieren wir das DataFrame zu einem bestimmten Zeitpunkt. Diese Sortierung nehmen wir im L√∂sungsnotebook nicht vor, weswegen die Reihenfolge der Zeilen ab einem gewissen Punkt abweicht. Dies ist nicht weiter schlimm und wird blo√ü erw√§hnt, dass Du nicht wunderst, warum die Daten zwischen den beiden Notebooks vermeintlich anders ausschauen.

In [1]:
import pandas as pd

#Achtung: anderer Pfad als im Notebook, da das L√∂sungsnotebook in einem anderen Verzeichnis liegt 
with open("../../3_Dateien/Songkorpus/songkorpus_token.tsv") as f:
    songkorpus = pd.read_csv(f, sep="\t")
    
songkorpus.columns = ["Token", "Jahr", "H√§ufigkeit"]

tokens = songkorpus["Token"]

decades = []
for year in (songkorpus["Jahr"]):
    decade = str(year)[:-1] + "0"
    decades.append(decade)
    
songkorpus["Jahrzehnt"] = decades
original_len = len(songkorpus)

*** 

‚úèÔ∏è **L√∂sung 1:** Erstelle eine weitere Series, die nur das 100.000te, 200.000te und 300.000te Token der Series `tokens` beinh√§lt.

In [2]:
print(tokens[[100000,200000,300000]]) #Alternative 1: Liste an Indizes (beachte die inneren eckigen Klammern!)
print(tokens[100000::100000]) #Alternative 2: Slicing mit Start-Index 100000 und Step 100000, vgl. zweites Notebook

100000      Leuten
200000       alten
300000    mitnehme
Name: Token, dtype: object
100000      Leuten
200000       alten
300000    mitnehme
Name: Token, dtype: object

*** 

‚úèÔ∏è **L√∂sung 2:** 

1. Lies die Datei `songkorpus_tokens.tsv` abermals ein und √ºbergib beim Erstellen des DataFrames zus√§tzlich den Parameter `index_col=0`. Dadurch wird die erste Spalte (mit dem Index 0), also diejenige mit den Tokens, zur sog. *Index-Spalte*. Jede Zeile hat nun statt einem numerischen Index einen Namen, n√§mlich das jeweilige Token. Weise das DataFrame der Variablen `songkorpus_labelled_rows` zu. 
2. Benenne die Spalten wie bei `songkorpus` um. Falls Du hier eine Fehlermeldung kriegst, lies sie aufmerksam und passe Deinen Code entsprechend an.
3. √úberlege Dir, was die Tatsache, dass wir nun Tokens als Zeilennamen verwenden, zur Konsequenz hat. Experimentiere dazu gerne mit dem DataFrame herum und greife auf verschiedene Zeilen √ºber Namen zu.

In [3]:
#Achtung: anderer Pfad als im Notebook, da das L√∂sungsnotebook in einem anderen Verzeichnis liegt 
songkorpus_labelled_rows = pd.read_csv("../../3_Dateien/Songkorpus/songkorpus_token.tsv", sep="\t", index_col=0) 
    
songkorpus_labelled_rows.columns = ["Jahr", "H√§ufigkeit"] 

#Zu 3.: Zeilennamen k√∂nnen mehrfach vorkommen.

***

‚úèÔ∏è **L√∂sung 3:** Setze die Tatsache, dass Zeilennamen mehrfach vorkommen d√ºrfen, produktiv ein und finde heraus, wie oft "Dresden" in `songkorpus_labelled_rows` vorkommt, indem Du die H√§ufigkeiten in allen Jahren, in denen das Wort gesungen wird, zusammenz√§hlst.

üí° Tipp: Der erste Schritt besteht darin, aus dem gesamten DataFrame `songkorpus_labelled_rows` ein kleineres, sog. *Sub-DataFrame* zu erstellen, das mit einer neuen Variablen referenziert wird. Der zweite Schritt besteht darin, eine Series aus diesem Sub-DataFrame "herauszuschneiden", die Du anschlie√üend wie eine Liste behandeln kannst, um schlie√ülich zur Anzahl der Nennungen von "Dresden" zu gelangen.

In [4]:
dresden = songkorpus_labelled_rows.loc["Dresden"] #erst greifen wir auf alle Zeilen zu, die "Dresden" als Label haben und weisen das Resultat der Variablen "dresden" zu
occurrences_per_year = dresden["H√§ufigkeit"] #anschlie√üend greifen wir auf die Spalte "H√§ufigkeit" im Sub-DataFrame "dresden" zu und weisen die resultierende Series der Variablen "occurrences_per_year" zu

#Drei Alternativen ab hier:

#1. for-Loop
#nun iterieren wir √ºber "occurrences_per_year" wie bei einer Liste und erh√∂hen die Z√§hlvariable "total" um den jeweiligen Zeilenwert
total = 0
for year in occurrences_per_year:
    total += year
print(total)

#2. sum-Funktion
print(sum(occurrences_per_year))

#3. sum-Methode von pandas
print(occurrences_per_year.sum())

22
22
22

***

‚úèÔ∏è **L√∂sung 4:** F√ºge `songkorpus` eine weitere Spalte mit dem Namen "L√§nge" hinzu, in der die Anzahl Buchstaben je Token steht.

In [5]:
lengths = []
for token in songkorpus["Token"]:
    length = len(str(token)) #Casten in string ist n√∂tig, da manche Tokens Zahlen sind und Zahlen keine L√§nge haben, vgl. zweites Notebook
    lengths.append(length)
    
songkorpus["L√§nge"] = lengths

songkorpus.head()

                Token  Jahr  H√§ufigkeit Jahrzehnt  L√§nge
0            Klaround  2007           1      2000      8
1                  #3  2009           1      2000      2
2               #Babo  2015           1      2010      5
3  #JeSuisPass√©ChezSo  2018           1      2010     18
4            #Nachbar  2016           1      2010      8

***

‚úèÔ∏è **L√∂sung 5:** Vereinfache den Code von oben, mit dessen Hilfe wir die Spalte "Jahrzehnt" hinzugef√ºgt haben, indem Du ihn mittels List Comprehension (vgl. viertes Notebook) auf eine einzige Zeile reduzierst. Hole den Abschnitt zu List Comprehensions nach, falls Du ihn damals ausgelassen hast, da er als fortgeschritten markiert war.

Hinweis: `songkorpus` verf√ºgt ja bereits √ºber eine Spalte mit der Bezeichnung "Jahrzehnt". Indem Du das Resultat Deiner List Comprehension `songkorpus["Jahrzehnt"]` zuweist, √ºberschreibst du die befindliche Spalte ganz einfach.

In [6]:
songkorpus["Jahrzehnt"] = [str(year)[:-1] + "0" for year in songkorpus["Jahr"]]
songkorpus.head()

                Token  Jahr  H√§ufigkeit Jahrzehnt  L√§nge
0            Klaround  2007           1      2000      8
1                  #3  2009           1      2000      2
2               #Babo  2015           1      2010      5
3  #JeSuisPass√©ChezSo  2018           1      2010     18
4            #Nachbar  2016           1      2010      8

*** 

‚úèÔ∏è **L√∂sung 6:** F√ºhre die Zelle oben, in der wir `songkorpus` Zeilen mit Fantasiew√∂rtern hinzugef√ºgt haben, noch ein paar Mal aus, ohne darauf zu achten wie oft. Verwende nun `drop` in einer geeigneten Kontrollstruktur (vgl. drittes Notebook) sowie die anfangs eingef√ºhrte Variable `original_len`, um die Fantasiew√∂rter wieder zu entfernen und `songkorpus`, was die Anzahl an Zeilen betrifft, wieder in seinen Originalzustand zu bringen.

In [7]:
#Vorbereitung, die im Lehrnotebook nicht notwendig ist: 
#Wir f√ºngen "new_row", sagen wir, 17 Mal "songkorpus" hinzu
new_row = ["Fantasiewort", 2023, 800, 2020, 12]
for i in range(17):
    songkorpus.loc[len(songkorpus)] = new_row

#hier beginnt die L√∂sung:
#was im Schleifenk√∂rper steht, wird wiederholt ausgef√ºhrt, solange die L√§nge von "songkorpus"
#gr√∂√üer als die urspr√ºngliche L√§nge ist, d.h. wir h√∂ren auf, wenn beide Werte gleich viel betragen
while len(songkorpus) > original_len:
    #als Index setzen wir die L√§nge von "songkorpus" minus 1 ein; minus 1, da Indizes bei 0 beginnen
    songkorpus = songkorpus.drop(len(songkorpus)-1) #√úberschreiben von "songkorpus", alternativ "inplace=True" spezifizieren

#hier √ºberpr√ºfen wir das Resultat
songkorpus.tail()

            Token  Jahr  H√§ufigkeit Jahrzehnt  L√§nge
386505  ÔªøVierzehn  2020           1      2020      9
386506       ÔªøWas  2020           1      2020      4
386507    ÔªøWei√üer  2020           1      2020      7
386508       ÔªøWie  2020           1      2020      4
386509      ÔªøWozu  2020           1      2020      5

*** 

‚úèÔ∏è **L√∂sung 7:** Mithilfe von `describe` haben wir oben herausgefunden, dass die durchschnittliche Wortl√§nge in `songkorpus` 6.88 Buchstaben betr√§gt. Die maximale Wortl√§nge betr√§gt hingegen sagenhafte 53 Buchstaben. Die Verteilung scheint alles andere als gleichm√§√üig zu sein, was wir auch an den sog. *Quartilen* 25% und 75% sehen (Quartile werden wie der Median berechnet, nur geht es nicht um den Mittelwert sondern um die Werte nach einem Viertel bzw. drei Vierteln aller aufgereihten Werte). Finde heraus, welche Wortl√§ngen f√ºr jeweils mindestens 10 % aller W√∂rter gelten. Finde ebenfalls heraus, welche Wortl√§ngen f√ºr jeweils maximal 1 % aller W√∂rter gelten.

üí° Tipp: Einer von verschiedenen denkbaren L√∂sungswegen involviert die Tatsache, dass DataFrames und Series mit dictionaries verwandt sind und sich auch in ein solches casten lassen.

In [8]:
lengths = dict(songkorpus["L√§nge"].value_counts(normalize=True))

#als List Comprehension
min_10_pc = [str(key) for key, value in lengths.items() if value > 0.1]
max_1_pc = [str(key) for key, value in lengths.items() if value < 0.01]

#als klassischer for-Loop
min_10_pc = [] 
max_1_pc = []

for key, value in lengths.items():
    if value > 0.1:
        min_10_pc.append(str(key))
    elif value < 0.01:
        max_1_pc.append(str(key))

print("Mind. 10 %:", ", ".join(sorted(min_10_pc)), "\nMax. 1 %:", ", ".join(sorted(max_1_pc)))

Mind. 10 %: 4, 5, 6, 7
Max. 1 %: 1, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 53

***

‚úèÔ∏è **L√∂sung 8:** Wir wissen bereits, wieviele Tokens in unserem DataFrame vorkommen, n√§mlich 386.510. Finde heraus, wieviele einzigartige Token, also Types (vgl. viertes Notebook) es gibt.

In [9]:
len(songkorpus["Token"].unique())

104934

***

‚úèÔ∏è **L√∂sung 9:** Erstelle ein Sub-DataFrame, das nur Tokens beinh√§lt, die mindestes 20 Zeichen lang sind.

In [10]:
long_words = songkorpus[songkorpus["L√§nge"] >= 20]
long_words

,Token,Jahr,H√§ufigkeit,Jahrzehnt,L√§nge
111,*ratata-ratarata-ratata*,2015,2,2010,24
166,-ell-ell-ell-ell-ell,2019,1,2010,20
388,1.......2.....3.....4.....5.....6.....7.....8....,1982,1,1980,51
505,100.000-Euro-L√§cheln,2013,1,2010,20
856,187-Strassenbande-Fu√ütattoo,2022,1,2020,27
...,...,...,...,...,...
385866,‚ÄûK-K-K-K-KitschKrieg,2020,1,2020,20
386040,‚ÄûPanini-Fu√üball-Bilder,1996,1,1990,22
386119,‚ÄûSelbstverwirklichung‚Äú,2019,1,2010,22
386404,‚Äûich-fang'-alle-Blicke‚Äú-P√∂ter,1995,1,1990,29
386405,‚Äûich-verbitte-mir-alle-Vergleiche‚Äú-P√∂ter,1995,1,1990,40

***

‚úèÔ∏è **L√∂sung 10:** Erstelle das gleiche Sub-DataFrame wie in √úbung 9 (also eines, das nur Tokens beinh√§lt, die mindestes 20 Zeichen lang sind), allerdings ohne dabei die Spalte "L√§nge" zu bem√ºhen. Du kannst dazu eine Methode verwenden, die auch bei normalen strings funktioniert. Stelle sicher, dass die Ergebnisse der beiden √úbungen identisch sind.

In [11]:
long_words_2 = songkorpus[songkorpus["Token"].str.len() >= 20]

#√úberpr√ºfen, ob die beiden Ergebnisse identisch sind:

#unsichere Methode, da ja in den Zeilen andere Werte stehen k√∂nnten:
print(len(long_words_2) == len(long_words))

#sichere Methode, da wir erst s√§mtliche Werte vergleichen und dann True bzw. False ausz√§hlen
same_values = long_words_2 == long_words
print(same_values.value_counts()) #es kommt nur jeweils True vor, also sind die beiden Ergebnisse identisch

#Pandas bietet daf√ºr auch eine Methode, n√§mlich equals():
long_words_2.equals(long_words)

True
Token  Jahr  H√§ufigkeit  Jahrzehnt  L√§nge
True   True  True        True       True     1060
dtype: int64

True

*** 

‚úèÔ∏è **L√∂sung 11:** Oben haben wir die Spalte "Jahrzehnt" basierend auf den Jahreszahlen mithilfe eines `for`-Loops geschaffen. Gehe abermals von der Spalte "Jahr" aus, um eine neue Spalte "Jahrzehnt_ohne_Loop" zu schaffen, allerdings ‚Äì wie der Name verr√§t ‚Äì ohne daf√ºr einen Loop ‚Äì auch nicht in Form einer List Comprehension ‚Äì zu benutzen. Mit anderen Worten: Du sollst Pandas-Syntax daf√ºr einsetzen. Wenn Dein Code stimmt, ergibt die bereits geschriebene (derzeit auskommentierte) Zeile `True`.

üí° Tipp: Es sind dieselben einzelnen Schritte wie im `for`-Loop oben n√∂tig, allerdings formuliert in pandas-Syntax. Gegebenfalls musst Du in der [pandas-Dokumentation](https://pandas.pydata.org/docs/) nachschlagen, wie die jeweilige Syntax der pandas-Pendants ausschaut.

In [12]:
songkorpus["Jahrzehnt_ohne_Loop"] = songkorpus["Jahr"].astype(str).str.slice(0,-1) + "0"
print(songkorpus["Jahrzehnt"].equals(songkorpus["Jahrzehnt_ohne_Loop"]))
songkorpus

True

,Token,Jahr,H√§ufigkeit,Jahrzehnt,L√§nge,Jahrzehnt_ohne_Loop
0,Klaround,2007,1,2000,8,2000
1,#3,2009,1,2000,2,2000
2,#Babo,2015,1,2010,5,2010
3,#JeSuisPass√©ChezSo,2018,1,2010,18,2010
4,#Nachbar,2016,1,2010,8,2010
...,...,...,...,...,...,...
386505,ÔªøVierzehn,2020,1,2020,9,2020
386506,ÔªøWas,2020,1,2020,4,2020
386507,ÔªøWei√üer,2020,1,2020,7,2020
386508,ÔªøWie,2020,1,2020,4,2020
386509,ÔªøWozu,2020,1,2020,5,2020

***

‚úèÔ∏è **L√∂sung 12:** Bearbeite die Werte in der Spalte "Token" so, dass jedes Wort, das aus genau f√ºnf Buchstaben besteht, gro√ügeschrieben wird. Einfach weil wir's k√∂nnen! üòâ

In [13]:
import numpy as np
songkorpus["Token"] = np.where(songkorpus["L√§nge"] == 5, songkorpus["Token"].str.upper(), songkorpus["Token"])
songkorpus

,Token,Jahr,H√§ufigkeit,Jahrzehnt,L√§nge,Jahrzehnt_ohne_Loop
0,Klaround,2007,1,2000,8,2000
1,#3,2009,1,2000,2,2000
2,#BABO,2015,1,2010,5,2010
3,#JeSuisPass√©ChezSo,2018,1,2010,18,2010
4,#Nachbar,2016,1,2010,8,2010
...,...,...,...,...,...,...
386505,ÔªøVierzehn,2020,1,2020,9,2020
386506,ÔªøWas,2020,1,2020,4,2020
386507,ÔªøWei√üer,2020,1,2020,7,2020
386508,ÔªøWie,2020,1,2020,4,2020
386509,ÔªøWOZU,2020,1,2020,5,2020

***

‚úèÔ∏è **L√∂sung 13:** Caste s√§mtliche Werte in `songkorpus` in strings.

In [14]:
songkorpus = songkorpus.applymap(str) #str ist ja auch eine Funktion!
#songkorpus = songkorpus.astype(str) #Alternative
print(type(songkorpus.loc[0]["Jahrzehnt_ohne_Loop"])) #√úberpr√ºfung an einem bestimmten Wert

<class 'str'>

***

üîß **Anwendungsfall (komplette L√∂sung):**

In [15]:
#Achtung: anderer Pfad als im Notebook, da das L√∂sungsnotebook in einem anderen Verzeichnis liegt 
songkorpus = pd.read_csv("../../3_Dateien/Songkorpus/songkorpus_token.tsv", sep="\t") 
    
songkorpus.columns = ["Token", "Jahr", "H√§ufigkeit"] #Spalten umbenennen

#neue Spalte f√ºr relative H√§ufigkeiten schaffen, indem absolute H√§ufigkeiten durch aufsummierte H√§ufigkeit pro Jahr geteilt werden (genaue Erkl√§rung s. Schritt-f√ºr-Schritt-Anleitung)
total_freq_per_year = songkorpus.groupby(["Jahr"])["H√§ufigkeit"].sum()
songkorpus["Relative H√§ufigkeit"] = songkorpus["H√§ufigkeit"] / songkorpus["Jahr"].replace(total_freq_per_year) 

import matplotlib.pyplot as plt

#Abfragen der zu plottenden W√∂rter
words = input("Welche W√∂rter sollen geplotted werden? Bsp.: 'ich, du'.").split(",")
words = [word.strip() for word in words]

#Iterieren √ºber die zu plottenden W√∂rter
for word in words:
    #Schaffen eines Sub-DataFrames √ºber Filter
    word_df = songkorpus[songkorpus["Token"] == word]
    #Sortieren des Sub-DataFrames nach der Spalte "Jahr" und Zur√ºcksetzen des Index
    word_df = word_df.sort_values(by="Jahr", ascending=True).reset_index()
    #Definieren von x und y, "Jahr" soll auf x-Achse geplotted werden, "Relative H√§ufigkeit" auf y-Achse
    x = word_df["Jahr"]
    y = word_df["Relative H√§ufigkeit"]
    #Eigentliches Plotten
    plt.plot(x, y, 'o-')

#Zus√§tzliches Verfeinern und Beschriften des Plots
plt.title(f"Wortverlaufskurve f√ºr {', '.join([word for word in words])}")
plt.xlabel("Jahr")
plt.ylabel("Relative H√§ufigkeit")
plt.xlim(1967, 2023)
plt.legend(words, loc="best")

ModuleNotFoundError: No module named 'matplotlib'

***

üîß **Anwendungsfall (Schritt-f√ºr-Schritt-L√∂sung):**

1. Um sicherzugehen, dass wir wirklich mit den originalen Daten arbeiten, lies die Datei "songkorpus_token.tsv" abermals ein.

In [16]:
#Achtung: anderer Pfad als im Notebook, da das L√∂sungsnotebook in einem anderen Verzeichnis liegt 
songkorpus = pd.read_csv("../../3_Dateien/Songkorpus/songkorpus_token.tsv", sep="\t")

2. Benenne die Spalten in "Token", "Jahr" und "H√§ufigkeit" um.

In [17]:
songkorpus.columns = ["Token", "Jahr", "H√§ufigkeit"]

3. Im DataFrame verf√ºgen wir bislang nur √ºber absolute H√§ufigkeiten. Um die Werte zwischen einzelnen Jahren besser vergleichbar zu machen, wollen wir aber relative H√§ufigkeiten f√ºr die Visualisierung verwenden. Schaffe dazu eine Spalte "Relative H√§ufigkeit", die f√ºr jedes Token vermerkt, wie h√§ufig es in Relation zur Summe aller H√§ufigkeiten aller Tokens im gegebenen Jahr vorkommt. F√ºr diese Berechnung brauchst Du jeweils zwei Werte: erstens die absolute H√§ufigkeit (bereits in der Spalte "H√§ufigkeit") und zweitens die Summe aller H√§ufigkeiten aller Tokens im gegebenen Jahr.

     Verwende die Methode [`groupby`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) zur Berechnung der Summe aller H√§ufigkeiten pro Jahr. Nach dem Motto "split-apply-combine" erlaubt Dir diese Methode, das DataFrame nach den Werten der Spalte "Jahr" zu gruppieren (aufzu*split*ten). Indem Du im gleichen Statement die `sum`-Methode auf die Spalte "H√§ufigkeit" jedes durch `groupby` entstehenden Sub-DataFrame anwendest (*apply*), erh√§ltst Du eine zusammengef√ºhrte Series (*combine*), die f√ºr jedes Jahr die Summe aller H√§ufigkeiten aller Tokens enth√§lt. Weise die Series der Variablen `total_freq_per_year` zu und inspiziere sie.
    
    Um nun zur relativen H√§ufigkeit zu gelangen, musst Du f√ºr jedes Token in `songkorpus` den Wert in der Spalte "H√§ufigkeit" durch die jeweilige Summe an H√§ufigkeiten im gegebenen Jahr teilen. Da wir letzteren Wert in einer anderen Series (n√§mlich in `total_freq_per_year`) vorliegen haben, m√ºssen wir zu einem Trick greifen: Wende die `replace`-Methode auf die Spalte "Jahr" an und √ºbergib ihr `total_freq_per_year`. Wir machen uns hier den Umstand zunutze, dass eine Series wie ein dictionary funktioniert. Will hei√üen: `replace` ersetzt kurzerhand jedes Jahr (Schl√ºssel) durch die jeweilige Summe der H√§ufigkeiten pro Jahr (Wert).

In [18]:
total_freq_per_year = songkorpus.groupby(["Jahr"])["H√§ufigkeit"].sum()
songkorpus["Relative H√§ufigkeit"] = songkorpus["H√§ufigkeit"] / songkorpus["Jahr"].replace(total_freq_per_year)

4. Installiere ggf. `matplotlib` √ºber das Terminal oder die Eingabeaufforderung und importiere anschlie√üend `matplotlib.pyplot as plt` (wieder so eine g√§ngige Abk√ºrzung). matplotlib ist die Bibliothek, die wir zum Visualisieren unserer Daten verwenden. Mithilfe der Funktion `plot(x, y)` (denk an den Modulnamen davor) k√∂nnen wir einfach Grafiken produzieren. `x` ist dabei eine Liste oder Series an Werten, die auf der x-Achse abgebildet werden sollen und `y` eine Liste oder Series derjenigen Werte, die auf der y-Achse dargestellt werden sollen. `x` und `y` m√ºssen gleich lange sein. Konkret wird der erste Punkt in der Grafik bei den Koordinaten `x[0]` und `y[0]` eingezeichnet, der zweite bei `x[1]` und `y[1]`, etc. Standardm√§√üig werden die einzelnen Punkte wie oben zu einem Graphen verbunden. Schau in den Beispieldarstellungen oben, welche Werte wir entlang der x-Achse bzw. entlang der y-Achsen plotten wollen.

In [19]:
#'pip(3) install matplotlib' zur Installation von matplotlib via Terminal/Eingabeaufforderung

import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

5. Definiere eine Liste an W√∂rtern, die Du visualisieren m√∂chtest. Diesen Schritt kannst Du auch interaktiv umsetzen, sodass Du bei jeder Ausf√ºhrung aufgefordert wirst, W√∂rter zur Visualisierung anzugeben.

In [20]:
#Statische Definition
words = ["ich", "du", "er", "sie"]

#Interaktive Abfrage
#words = input("Welche W√∂rter sollen geplotted werden? Bsp.: 'ich, du'.").split(",")
#words = [word.strip() for word in words]

6. Plotte nun nacheinander eine Verlaufskurve f√ºr jedes Wort auf der Liste. Gehe dazu f√ºr jedes Wort wie folgt vor:
    - Schaffe ein Sub-DataFrame, in dem in der Spalte "Token" nur das gegebene Wort steht.
    - Sortiere das Sub-DataFrame aufsteigend nach der Spalte "Jahr" und setze den Index anschlie√üend zur√ºck.
    - √úbergib der `plot`-Funktion die relevanten Spalten des Sub-DataFrames an Stelle von `x` und `y`. √úbergib als drittes Argument den string "o-", der den Stil des Graphen (Linie mit Punkten) definiert.

7. Nachdem Du alle W√∂rter der Liste entsprechend geplotted hast, kannst Du **in derselben Zelle** folgende Funktionen verwenden, um den Plot zu verfeinern:
    - `title`, um einen Titel zu setzen.
    - `xlabel` und  `ylabel`, um die Achsen zu beschriften.
    - `xlim`, um der x-Achse Grenzen zu setzen, z.B. von 1969 bis 2022 (dies vereinheitlicht die Plots, da diese sonst automatisch an den Wertebereich der zu plottenden W√∂rter angepasst wird und der Plot dadurch mitunter anders beschnitten sein kann).
    - `legend`, um eine Legende einzuf√ºgen, indem Du der Funktion die Liste mit W√∂rtern √ºbergibst

In [21]:
#Iterieren √ºber die zu plottenden W√∂rter
for word in words:
    #Schaffen eines Sub-DataFrames √ºber Filter
    word_df = songkorpus[songkorpus["Token"] == word]
    #Sortieren des Sub-DataFrames nach der Spalte "Jahr" und Zur√ºcksetzen des Index
    word_df = word_df.sort_values(by="Jahr", ascending=True).reset_index()
    #Definieren von x und y, "Jahr" soll auf x-Achse geplotted werden, "Relative H√§ufigkeit" auf y-Achse
    x = word_df["Jahr"]
    y = word_df["Relative H√§ufigkeit"]
    #Eigentliches Plotten
    plt.plot(x, y, 'o-')

#Zus√§tzliches Verfeinern und Beschriften des Plots
plt.title(f"Wortverlaufskurve f√ºr {', '.join([word for word in words])}")
plt.xlabel("Jahr")
plt.ylabel("Relative H√§ufigkeit")
plt.xlim(1967, 2023)
plt.legend(words, loc="best")

NameError: name 'plt' is not defined

***
<br>